<% @ideas.each do |idea| %>
<ul class="idea_<%= idea.id %>">
    <li><%= idea.title %></li>
    <li><%= idea.content %></li>
    <%= link_to "Edit", edit_idea_path(idea) %>
</ul>
<% end %>

<%= link_to "Create a new Idea", new_user_idea_path(current_user) %>
