<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash.keys.first == "success" %>
      <div class="flash-success">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
    <% elsif flash.keys.first == "error" %>
      <div class="flash-error">
        <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
